    <div style="background: url(https://greenlanetvdemo.imgix.net/404.jpg?auto=compress&h=700) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
};height: 100vh;">

<div style="background-color: rgba(0,0,0,0.4);height: 100vh;">
	<div class="header header-position" style="">
		<a class="logo"><img src="https://greenlanetvdemo.imgix.net/logo_white.png" style="height: 36px;"></a>
		<input type="checkbox" id="chk">
		<label for="chk" class="show-menu-btn" style="color: white;">
			<i class="fas fa-bars" style="font-size: 25px;"></i>
		</label>
		<br>
		<br>

		<ul class="menu" style="z-index: 1;">
			<a href="/" style="font-family: Helvetica;letter-spacing: 3px;" class="uk-button uk-button-text">Home</a>
			<a href="/aboutus" style="font-family: Helvetica;letter-spacing: 3px;" class="uk-button uk-button-text">About Us</a>
			<a href="/login" style="font-family: Helvetica;letter-spacing: 3px;" class="uk-button uk-button-text">Signup</a>

			<label for="chk" class="hide-menu-btn">
				<i class="fas fa-times" style="font-size: 25px;"></i>
			</label>
		</ul>
	</div>

	<div class="content">
		<div class="center">
			<div align="center">
				<br>
				<br>
				<br>
				<br>
				<h1 style=""  class="central-image-logo-text" align="center" style="letter-spacing: 5px;">404
				</h1>
				<!-- <a class="btn btn-1">Hover me</a> -->
			</div>
			<br>
<br>
			<div align="center" style="width: 100%;">
						<h3 style="background-color: white;color: black;font-family:'courier-std';margin: auto; line-height: 1.2; text-align: right !important;margin-left: 5%;font-size: 16pt;width: 80%" class="padded-multi-line-tag" > Oops!, the page you are looking for doesn't exist.</h3>
<br>
<br>

<br>
<br>
<br>
<br>
<div style="width: 75%;
position: fixed;
left: 50%;
margin-left: -37.5%;bottom: 10%;">

<a href="/" class="ui button" style="padding:20px;color: white;background-color: #3fcf78;font-family: 'Helvetica';text-transform: uppercase;letter-spacing: 2px;font-weight: 400;
;font-size: 10pt;" > &nbsp;&nbsp; Go Back To Home &nbsp; &nbsp;</a>


</div>
</div>
</div>
</div>

</div>


</div>