<!-- This is a button toggling the modal -->
<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar style="color: #202D71;background-color: #3fcf78">
	<div class="uk-navbar-left" style="padding: 0px;margin: 0px;">
		<ul class="uk-navbar-nav">

		<!-- 	<li class="uk-active">
				<span class="uk-margin-small-right uk-icon" uk-icon="icon: album; ratio: 2" uk-toggle="target: #my-id">	</span>
			</li> -->
					<li class="uk-active">
			<span class="uk-margin-small-right uk-icon" uk-icon="icon: album; ratio: 1.2" uk-toggle="target: #my-id" style="padding-left: 35px;" (click)="add_category()"></span>
				<br>
				<span class="uk-margin-small-left" style="font-family: 'Helvetica';margin-left: 0px;margin-top: 5px;text-transform: uppercase;" uk-toggle="target: #my-id" (click)="add_category()">Channels</span>


			</li>
		</ul>

	</div>

	<div class="uk-navbar-center">

        <ul class="uk-navbar-nav" style="z-index: -1;">
        	<li style="padding-right: 20px;">
			<img src="https://greenlanetvdemo.imgix.net/logo_white.png" style="height: 25px;">
		</li>
        </ul>
    </div>

	 <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
        	      <li>
                        <a href="#" style="color: black">  <span class="uk-margin-small-right uk-icon" uk-icon="icon: menu; ratio: 2">	</span></a>
                        <div class="uk-navbar-dropdown" style="background-color: #202D71">
                            <ul class="uk-nav uk-navbar-dropdown-nav" style="color: white;">
                                <li class="uk-active"><a href="/login" style="color: white;">Logout</a></li>
                            </ul>
                        </div>
                    </li>
        </ul>
    </div>
</nav>


<!-- This is the modal -->
<!-- This is the modal -->

<div id="my-id" uk-modal style="z-index: 2;">
	<div class="uk-modal-dialog uk-modal-body invisible-scrollbar" style="border-radius: 10px;height: 90vh !important;
	overflow: auto;">
	<div>

		<span class="uk-margin-small-right uk-icon" uk-icon="icon: album;ratio: 2;" style="color: #3fcf78;"></span>
		<br>
		<br>
		<div>
			<h4 style="font-family: 'Helvetica'; font-weight: 400;">Now Playing</h4>
			<div style="width: 200px;height: 120px;border-radius: 10px;position: relative;">
				<img src="{{this.now_playing?.category_image}}" style=" width: 100%; /* or any custom size */
				height: 100%; 
				border-radius: 10px;">

				<p style="position: absolute;
				top:25%;
				left: 50%;
				transform: translate(-50%, -50%);font-family: 'Helvetica'; color: white;font-weight: bold;font-size: 12pt;">{{this.now_playing?.category_name}}</p>
				<img src="https://media2.giphy.com/media/MCIFuk65BSptm/source.gif" style="position: absolute; position: absolute;
				bottom: 8px;
				left: 16px;height: 20px;">
			</div>
<br>
			<div *ngIf="user_interested_categories_except_playlist.length != 0">
				<h4 style="font-family: 'Helvetica'; font-weight: 400;">Your Categories</h4>
				<div>
					<div class="ui middle aligned divided list invisible-scrollbar" style="height: 100px;
					overflow: auto;">
					<div *ngFor="let category of user_interested_categories_except_playlist" class="item">
						<div class="right floated content">
							<div class="ui mini button" style="background-color: #3fcf78;color: white;" (click)="change_now_playing(category.category_tag)">Play</div>
						</div>
						<img class="ui avatar image" src="{{category?.category_image}}">
						<div class="content" style="font-family: 'Helvetica'; font-size: 12pt;align-content: center;width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; ">
							{{category?.category_name}}
						</div>
					</div>

				</div>
			</div>
		</div>

		<h4 style="font-family: 'Helvetica'; font-weight: 400;">Explore Categories</h4>
		<div class="ui middle aligned divided list invisible-scrollbar" style="
		overflow: auto;">
		<div *ngFor="let other_category of user_other_categories" class="item">
			<div class="right floated content">
				<div class="ui mini button" style="background-color: #202D71;color: white;" (click)="add_interest(other_category.category_tag)">Add</div>
			</div>
			<img class="ui avatar image" src="{{other_category?.category_image}}">
			<div class="content" style="font-family: 'Helvetica'; font-size: 12pt;align-content: center;width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis;">
				{{other_category?.category_name}}
			</div>
		</div>



	</div>
	<br><br>

</div>





<button class="uk-modal-close-default uk-button uk-button-danger" type="button" uk-close style="color: white;position: fixed;margin-top: 20px;margin-right: 20px;background-color: #3fcf78 ;border-radius: 5px;padding: 10px;"> Close &nbsp; </button>

</div>
</div>


</div>


<div align="center" style="padding: 40px;">


	<div *ngIf="iframe_url !== ''" [innerHTML]="iframe_url | safe: 'html'"></div>

	<br>

	<div #myDiv></div>
</div>