<div style=" background: url('https://uploads-ssl.webflow.com/5c4def2c7c1ca40a4705b074/5c4def2c7c1ca42a3b05b0fe_forest-top.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;height: 40vh;background-color: rgba(0,0,0,0.6);
z-index:10;">

<div style="background-color: rgba(0,0,0,0);height: 100vh;">
	<div class="header" style="padding-right: 20px;">
		<a class="logo"><img src="assets/images/Logowhite.png" style="height: 30px;"></a>
		<input type="checkbox" id="chk">
		<label for="chk" class="show-menu-btn" style="color: white;">
			<i class="fas fa-bars" style="font-size: 25px;"></i>
		</label>
		<br>
		<br>

		<ul class="menu">
			<a href="/" style="font-family: sfui;letter-spacing: 3px;" class="uk-button uk-button-text">Home</a>

			<a href="#" style="font-family: sfui;letter-spacing: 3px;" class="uk-button uk-button-text">Impact</a>
			<a href="/aboutus" style="font-family: sfui;letter-spacing: 3px;" class="uk-button uk-button-text">About Us</a>
			<a href="#" style="font-family: sfui;letter-spacing: 3px;" class="uk-button uk-button-text">Curators</a>

			<label for="chk" class="hide-menu-btn">
				<i class="fas fa-times" style="font-size: 25px;"></i>
			</label>
		</ul>
	</div>
	<div class="content">
		<div align="center">
			<br>
			<h1 style="color: white;font-family: 'Lora', serif;font-weight: 400;
			font-style: normal;font-size: 30pt;">Curating Content For A Better Tomorrow
		</h1>
		<br>
	</div>
</div>
</div>
</div>

<div align="center">
	<br>
	<h1 style="color: black;font-family: 'Oxygen', sans-serif;font-weight: bold;
	font-style: normal;font-size: 14pt;width: 60%;">
	Greenlane is a media property that curates inspiring videos around conscious living. 
	We focus on educational content around sustainable and regenerative lifestyle practices.
	<br>
	<br>
	‍We use AI technology to discover upcoming creators across the internet. 
	Our team of curators then hand-picks top videos from these creators.
	<br>
	<br>
	<p style="font-weight: bold;color: black;font-family: 'Lora', sans-serif;font-weight: bold;
	font-style: normal;font-size: 22pt;">Meet the Curators</p>

	<br>
	We’re foremost a group of people of truly diverse backgrounds and specialties who believe climate change is real (duh). We’re also yogis, designers, jedi knights, musicians, storytellers, strategists, beer addicts, photographers, herbalists and comedians.
	<br>
	<br>

	<div class="ui stackable three column grid">
		<div class="column">
			<div align="center">
				<img width="89" height="89" src="https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cfcaff471000a768750f064_Screen%20Shot%202019-06-09%20at%2010.47.11%20AM.png" alt="" sizes="100vw" srcset="https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cfcaff471000a768750f064_Screen%20Shot%202019-06-09%20at%2010.47.11%20AM-p-500.png 500w, https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cfcaff471000a768750f064_Screen%20Shot%202019-06-09%20at%2010.47.11%20AM.png 580w" alt="Avatar" class="avatar">
				<br>
				<br>
				<h1 style="color: black;font-family: 'Oxygen', sans-serif;font-weight: bold;
				font-style: normal;font-size: 14pt;width: 60%;">Umeed Mistry
			</h1>

			
			<h5 >Oceans</h5>
			<a style="color: orange;font-family: 'Oxygen', sans-serif;font-weight: bold;
			font-style: normal;font-size: 12pt;" href="https://www.instagram.com/umeed.mistry/?hl=en">Profile</a>
			<br>
			<p style="font-size: 12pt;">Wildlife &amp; Underwater Photographer. IDC Staff Instructor with PADI. Founder of EARTH CoLab.</p>
			
		</div>
	</div>
	<div class="column">
		<div align="center">

			<img width="89" height="89" src="https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cea14b7c0831cea0a69215d_Screen%20Shot%202019-05-26%20at%209.52.58%20AM.png" alt="" sizes="100vw" srcset="https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cea14b7c0831cea0a69215d_Screen%20Shot%202019-05-26%20at%209.52.58%20AM-p-500.png 500w, https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cea14b7c0831cea0a69215d_Screen%20Shot%202019-05-26%20at%209.52.58%20AM.png 624w" alt="Avatar" class="avatar">
			<br>
			<br>
			<h1 style="color: black;font-family: 'Oxygen', sans-serif;font-weight: bold;
			font-style: normal;font-size: 14pt;width: 60%;">Taron Carl Sapru Bose
		</h1>


		<h5 >Sacred Plants</h5>
		<a style="color: orange;font-family: 'Oxygen', sans-serif;font-weight: bold;
		font-style: normal;font-size: 12pt;" href="https://www.facebook.com/tsapru">Profile</a>
		<br>
		<p style="font-size: 12pt;">Setting up a research lab and collaborating with the global front-runners in medical marijuana.</p>

	</div>
</div>
<div class="column">
	<div align="center">

		<img width="89" height="89" src="https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cb0e7e205a8a47c29f44445_Screen%20Shot%202019-04-13%20at%201.02.18%20AM.png" alt="" sizes="100vw" srcset="https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cb0e7e205a8a47c29f44445_Screen%20Shot%202019-04-13%20at%201.02.18%20AM-p-500.png 500w, https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cb0e7e205a8a47c29f44445_Screen%20Shot%202019-04-13%20at%201.02.18%20AM.png 584w" alt="Avatar" class="avatar">
		<br>
		<br>
		<h1 style="color: black;font-family: 'Oxygen', sans-serif;font-weight: bold;
		font-style: normal;font-size: 14pt;width: 60%;">Jill Ferguson
	</h1>
	<h5 >Travel</h5>
	<a style="color: orange;font-family: 'Oxygen', sans-serif;font-weight: bold;
	font-style: normal;font-size: 12pt;" href="https://www.instagram.com/umeed.mistry/?hl=en">Profile</a>
	<br>
	<p style="font-size: 12pt;">Jill is a director at Vaayu Vision Collective, a surf shop and  eco-stay in Goa. She also works with multiple responsible travel and sustainable living organisations.</p>

</div>
</div>

<div class="column">
	<div align="center">

		<img width="89" height="89" src="https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cadfc4a3eb34f2b56038ced_Screen%20Shot%202019-04-10%20at%207.52.27%20PM.png" alt="" sizes="100vw" alt="Avatar" class="avatar">

		<br>
		<br>
		<h1 style="color: black;font-family: 'Oxygen', sans-serif;font-weight: bold;
		font-style: normal;font-size: 14pt;width: 60%;">Peter Fernandes
	</h1>
	<h5 >Food</h5>
	<a style="color: orange;font-family: 'Oxygen', sans-serif;font-weight: bold;
	font-style: normal;font-size: 12pt;" href="https://www.facebook.com/peterfds">Profile</a>
	<br>
	<p style="font-size: 12pt;">Peter and Rosie have regenerated a piece of degraded land in Goa, India, to become an abundant and productive Kitchen Garden and Food Forest.</p>

</div>
</div>
<div class="column">
	<div align="center">
		<img width="89" height="89" src="https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cad6e30f416765da28031b1_Screen%20Shot%202019-04-10%20at%209.46.29%20AM.png" alt="" sizes="100vw" srcset="https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cad6e30f416765da28031b1_Screen%20Shot%202019-04-10%20at%209.46.29%20AM-p-500.png 500w, https://uploads-ssl.webflow.com/5c4def2c7c1ca48c5805b0c5/5cad6e30f416765da28031b1_Screen%20Shot%202019-04-10%20at%209.46.29%20AM.png 549w" alt="Avatar" class="avatar">
		<br>
		<br>
		<h1 style="color: black;font-family: 'Oxygen', sans-serif;font-weight: bold;
		font-style: normal;font-size: 14pt;width: 60%;">Lakshmi Poti
	</h1>
	<h5 >Fashion
	</h5>
	<a style="color: orange;font-family: 'Oxygen', sans-serif;font-weight: bold;
	font-style: normal;font-size: 12pt;" href="https://www.linkedin.com/in/lakshmipoti/">Profile</a>
	<br>
	<p style="font-size: 12pt;">Lakshmi works as program manager at C&A foundation, a Swiss organisation that focuses on sustainable fashion.</p>

</div>
</div>




</div>
</h1>


<br>
<div class="footer">This footer will always be positioned at the bottom of the page, but <strong>not fixed</strong>.</div>
</div>



