<div class="topnav">
	<a class="active" href="#home">
		<img src="assets/images/logo_small.jpg" style="height: 40px;">
	</a>
	<a style="margin: 14px;  text-align: center;color: black;font-family: sfui;letter-spacing: 0px;"> Choose you interests</a>
	<button class="ui button" style="background-color: #37A773;float: right; margin: 14px;  text-align: center;color: white;font-family: sfui;letter-spacing: 1px;">Next</button>
</div>

<div style="height: 100vh;background-color:#fafafa">

	<div class="center" style="display: inline-block;
	position: fixed;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: 80%;
	margin: auto;
	background-color: #fafafa;overflow: hidden;"> 
	<div style=" height: 99%; overflow-y: scroll;
	padding-right: 10px; /* Increase/decrease this value for cross-browser compatibility */
	box-sizing: content-box; /* So the width will be 100% + 17px */">
	<p style="font-size: 12pt; ;color: black;font-family: sfui bold;letter-spacing: 0px;font-weight: bold;">Hi {{username}}, Please select all the topics you're interested in.</p>

	<div class="uk-child-width-2-2@s uk-child-width-1-3@m uk-text-center" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
			border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('assets/images/Eco Living.png');background-size: cover;height:150px;display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;">
			
			<h4 style="color: white;font-family: sfui bold;"> Eco Living </h4>

		</div>
	</div>
	<div>
		<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green"style=" border: 0px;
		border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Nature.png');background-size: cover;display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;height:150px;" >
		<h4 style="color: white;font-family: sfui bold;font-weight: bold;"> Nature </h4>
	</div>
</div>
<div>
	<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
	border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Responsible Travel.png');background-size: cover;display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;height:150px;">
	<h4 style="color: white;font-family: sfui bold;">Responsible Travel </h4>
</div>
</div>
<div>
	<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
	border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Businesses of the Future.png');background-size: cover;display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;height:150px;">
	<h4 style="color: white;font-family: sfui bold;"> Businesses of the Future</h4>
</div>
</div>
<div>
	<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
	border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Slow Fashion.png');background-size: cover;display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;height:150px;">
	<h4 style="color: white;font-family: sfui bold;"> Slow Fashion</h4>
</div>
</div>
<div>
	<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
	border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Spiritual Sciences.png');background-size: cover;display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;height:150px;">
	<h4 style="color: white;font-family: sfui bold;">Spiritual Sciences </h4>
</div>
</div>
<div>
	<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
	border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Entertainment&Arts.png');background-size: cover;display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;height:150px;">
	<h4 style="color: white;font-family: sfui bold;"> Entertainment & Arts </h4>
</div>
</div>

<div>
	<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
	border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Film & TV.png');background-size: cover;display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;height:150px;">
	<h4 style="color: white;font-family: sfui bold;"> Film & TV </h4>
</div>
</div>

<div>
	<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
	border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Culture.png');background-size: cover;display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;height:150px;">
	<h4 style="color: white;font-family: sfui bold;"> Culture </h4>
</div>
</div>

<div>
	<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
	border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Clean Foods.png');background-size: cover;display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;height:150px;">
	<h4 style="color: white;font-family: sfui bold;"> Clean Foods</h4>
</div>
</div>

<div>
	<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
	border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Holistic Wellness.png');background-size: cover;display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;height:150px;">
	<h4 style="color: white;font-family: sfui bold;">  Holistic Wellness</h4>
</div>
</div>

<div>
	<div class="uk-card uk-card-default uk-card-hover uk-card-body overlay green" style=" border: 0px;
	border-radius: 10px 10px; background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('assets/images/Future of Work.png');background-size: cover;display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;height:150px;">
	<h4 style="color: white;font-family: sfui bold;"> Future of Work</h4>
</div>
</div>

</div>



<!-- 












<div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
	<div class="column" style="margin: 0px;height: 100%;">
		<div class="uk-child-width-2-2@s uk-grid-match" uk-grid>
			<div>
				<div class="uk-card uk-card-default uk-card-hover uk-card-body box overlay green" style=" border: 0px;
				border-radius: 10px 10px; background-image: url('assets/images/Eco Living.png');background-size: cover;height: 100%;">
				<h3 class="uk-card-title" style="color: white;text-align: center;">Eco Living</h3>
			</div>
		</div>
	</div>
</div>
<div class="column" style="margin: 0px;">
	<div class="uk-child-width-2-2@s uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-hover uk-card-body box overlay green" style=" border: 0px;
			border-radius: 10px 10px; background-image: url('assets/images/Nature.png');background-size: cover;height: 100%;">
			<h3 class="uk-card-title" style="color: white;text-align: center;">Nature</h3>

		</div>
	</div>
</div>
</div>

<div class="column" style="margin: 0px;">
	<div class="uk-child-width-2-2@s uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-hover uk-card-body box overlay green" style=" border: 0px;
			border-radius: 10px 10px; background-image: url('assets/images/Responsible Travel.png');background-size: cover;height: 100%;">
			<h3 class="uk-card-title" style="color: white;text-align: center;">Responsible Travel</h3>

		</div>
	</div>
</div>
</div>

<div class="column" style="margin: 0px;">
	<div class="uk-child-width-2-2@s uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-hover uk-card-body box overlay green" style=" border: 0px;
			border-radius: 10px 10px; background-image: url('assets/images/Businesses of the Future.png');background-size: cover;height: 100%;">
			<h3 class="uk-card-title" style="color: white;text-align: center;">Businesses of the Future</h3>

		</div>
	</div>
</div>
</div>

<div class="column" style="margin: 0px;">
	<div class="uk-child-width-2-2@s uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-hover uk-card-body box overlay green" style=" border: 0px;
			border-radius: 10px 10px; background-image: url('assets/images/Slow Fashion.png');background-size: cover;height: 100%;">
			<h3 class="uk-card-title" style="color: white;text-align: center;">Slow Fashion</h3>

		</div>
	</div>
</div>
</div>

<div class="column" style="margin: 0px;">
	<div class="uk-child-width-2-2@s uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-hover uk-card-body box overlay green" style=" border: 0px;
			border-radius: 10px 10px; background-image: url('assets/images/Spiritual Sciences.png');background-size: cover;height: 100%;">
			<h3 class="uk-card-title" style="color: white;text-align: center;">Spiritual Sciences</h3>
			
		</div>
	</div>
</div>
</div>

<div class="column" style="margin: 0px;">
	<div class="uk-child-width-2-2@s uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-hover uk-card-body box overlay green" style=" border: 0px;
			border-radius: 10px 10px; background-image: url('assets/images/Entertainment&Arts.png');background-size: cover;height: 100%;">
			<h3 class="uk-card-title" style="color: white;text-align: center;">Entertainment and Arts</h3>
			
		</div>
	</div>
</div>
</div>

<div class="column" style="margin: 0px;">
	<div class="uk-child-width-2-2@s uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-hover uk-card-body box overlay green" style=" border: 0px;
			border-radius: 10px 10px; background-image: url('assets/images/Film & TV.png');background-size: cover;height: 100%;">
			<h3 class="uk-card-title" style="color: white;text-align: center;">Film & TV </h3>
			
		</div>
	</div>
</div>
</div>
<div class="column" style="margin: 0px;">
	<div class="uk-child-width-2-2@s uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-hover uk-card-body box overlay green" style=" border: 0px;
			border-radius: 10px 10px; background-image: url('assets/images/Culture.png');background-size: cover;height: 100%;">
			<h3 class="uk-card-title" style="color: white;text-align: center;">Culture</h3>
			
		</div>
	</div>
</div>
</div>


<div class="column" style="margin: 0px;">
	<div class="uk-child-width-2-2@s uk-grid-match" uk-grid>
		<div>
			<div class="uk-card uk-card-default uk-card-hover uk-card-body box overlay green" style=" border: 0px;
			border-radius: 10px 10px; background-image: url('assets/images/Clean Foods.png');background-size: cover;height: 100%;">
			<h3 class="uk-card-title" style="color: white;text-align: center;">Clean Foods</h3>
			
		</div>
	</div>
</div>
</div>
</div> -->
</div>
</div>
</div>