<!-- <div style=" background: url('assets/images/forest.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;height: 100vh;
background-color: Black;
z-index:10;">
<div style="background-color: rgba(0,0,0,0.7);height: 100vh;">

</div>
  Hello
</div> -->

<!-- Uses a transparent header that draws on top of the layout's background -->
<!-- <style>
.demo-layout-transparent {
  background: url('assets/images/forest.jpeg') center / cover;
  background-color: rgba(0,0,0,0.7);
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
</style> -->
<!-- 
	<div class="demo-layout-transparent mdl-layout mdl-js-layout"> -->
<!--   <div class="header">
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
     <i class="uk-margin-small-right uk-icon" uk-icon="menu"></i>
    </label>
    <ul class="menu">
      <a href="/">Home</a>
      <a href="/">About</a>
      <a href="/">Services</a>
      <a href="/">Works</a>
      <a href="/">Contact</a>
      <label for="chk" class="hide-menu-btn">
        <i class="uk-margin-small-right uk-icon" uk-icon="menu"></i>
      </label>
    </ul>
</div> -->
<!--   <main class="mdl-layout__content" style="background-color: rgba(0,0,0,0.7);">
  </main>
</div> -->
<div style=" background: url('assets/images/forest.jpeg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;height: 100vh;
z-index:10;">

<div style="background-color: rgba(0,0,0,0.7);height: 100vh;">
	<div class="header" style="padding-right: 20px;">

		<input type="checkbox" id="chk">
		<label for="chk" class="show-menu-btn" style="color: white;">
			<i class="fas fa-bars" style="font-size: 25px;"></i>
		</label>
		<br>
		<ul class="menu">
			<a href="#" style="font-family: sfui;letter-spacing: 3px;">Impact</a>
			<a href="/aboutus" style="font-family: sfui;letter-spacing: 3px;">About Us</a>
			<a href="#" style="font-family: sfui;letter-spacing: 3px;">Curators</a>

			<label for="chk" class="hide-menu-btn">
				<i class="fas fa-times" style="font-size: 25px;"></i>
			</label>
		</ul>
	</div>
	<div class="content">
		<div class="center">
			<br>
			<br>
	
			<img src="assets/images/Logowhite.png" sizes="(min-width: 40em) 80vw, 100vw">
			<br>
			<div align="center">
				<h1 style="color: #889F2D;font-family: sfui;font-weight: bold;font-size: 16pt;">Sustainable Living' platform for millennials
				</h1>
			</div>
			<br>
			<div align="center" style="width: 100%;">
				<h1 style="color: white;font-family: sfui;font-weight: bold;font-size: 14pt;">Greenlane TV is a lifestyle internet channel that helps conscious consumers discover and engage with responsible brands.
				</h1>
				<br>
				<br>
				<div align="center">
					<p style="color: white;font-family: sfui;text-align: center;">
						Save your playlist, progress and earn badges. 
					</p>
				</div>
				<br>
				<button class="ui facebook button" (click)="socialSignIn('facebook')">
					<i class="fab fa-facebook-f"></i>
					&nbsp; &nbsp; Login using Facebook
				</button>
				<br>
				<br>
				<button class="ui google plus button" (click)="socialSignIn('google')"> 
					<i class="fab fa-google"></i>
					&nbsp; &nbsp; Login using Google
				</button>
				<br>
				<br>
				<a style="color: white;font-family: sfui;text-align: center;" href="/interests"> Browse without sign up
				</a>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div style="position:absolute;
				bottom:5px;
				right:20px;width: 50%;">
				<div class="ui grid" style="width: 100%;">
						<div class="six wide column">
					
					</div>
						<div class="four wide column">
						<p style="color: white;font-family: sfui;"> Follow us on :</p>
					</div>
					<div class="two wide column">
						<i class="fab fa-facebook-f" style="color: white;font-size: 16pt;"></i>
					</div>
					<div class="two wide column">
						<i class="fab fa-instagram" style="color: white;font-size: 16pt;"></i>
					</div>
				
					<div class="two wide column">
						<i class="fab fa-twitter" style="color: white;font-size: 16pt;"></i>
					</div>
				</div>

			</div>
			<br>
			<br>
		</div>
	</div>
</div>

</div>



</div>
