<div class="topnav">
	<a class="active" href="#home">
		<img src="assets/images/logo_small.jpg" style="height: 40px;">
	</a>
	<a style="margin: 14px;  text-align: center;color: black;font-family: sfui;letter-spacing: 0px;"> Choose you interests</a>
	<button class="ui button" style="background-color: #37A773;float: right; margin: 14px;  text-align: center;color: white;font-family: sfui;letter-spacing: 1px;">Next</button>
</div>

<div style="height: 100vh;background-color:#fafafa">
	<div class="center" style="   display: inline-block;
	position: fixed;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: 80%;
	margin: auto;
	background-color: #fafafa;overflow: hidden;"> 
	<div style=" height: 99%; overflow-y: scroll;
	padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
	box-sizing: content-box; /* So the width will be 100% + 17px */">
	<div class="ui stackable four column grid">
		<br>
			<br>
		<div class="column" style="margin: 10px;">
			<section class="cards">
				<article class="card card--1 box overlay green article image overlay">
					<div class="card__info-hover">

						<div class="card__clock-info">

						</div>

					</div>
					<div class="card__img"></div>
					<a href="#" class="card_link">
						<div class="card__img--hover"></div>
					</a>
					<div class="card__info">
						<span class="card__category"> Recipe</span>
						<h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
						<span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
					</div>
				</article>

			</section>

		</div>
		<div class="column" style="margin: 10px;">
				<section class="cards">
				<article class="card card--1 box overlay green article image overlay">
					<div class="card__info-hover">

						<div class="card__clock-info">

						</div>

					</div>
					<div class="card__img"></div>
					<a href="#" class="card_link">
						<div class="card__img--hover"></div>
					</a>
					<div class="card__info">
						<span class="card__category"> Recipe</span>
						<h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
						<span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
					</div>
				</article>

			</section>

		</div>
		<div class="column" style="margin: 10px;">
				<section class="cards">
				<article class="card card--1 box overlay green article image overlay">
					<div class="card__info-hover">

						<div class="card__clock-info">

						</div>

					</div>
					<div class="card__img"></div>
					<a href="#" class="card_link">
						<div class="card__img--hover"></div>
					</a>
					<div class="card__info">
						<span class="card__category"> Recipe</span>
						<h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
						<span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
					</div>
				</article>

			</section>
		</div>
		<div class="column" style="margin: 10px;">
				<section class="cards">
				<article class="card card--1 box overlay green article image overlay">
					<div class="card__info-hover">

						<div class="card__clock-info">

						</div>

					</div>
					<div class="card__img"></div>
					<a href="#" class="card_link">
						<div class="card__img--hover"></div>
					</a>
					<div class="card__info">
						<span class="card__category"> Recipe</span>
						<h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
						<span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
					</div>
				</article>

			</section>
		</div>
		<div class="column" style="margin: 10px;">
				<section class="cards">
				<article class="card card--1 box overlay green article image overlay">
					<div class="card__info-hover">

						<div class="card__clock-info">

						</div>

					</div>
					<div class="card__img"></div>
					<a href="#" class="card_link">
						<div class="card__img--hover"></div>
					</a>
					<div class="card__info">
						<span class="card__category"> Recipe</span>
						<h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
						<span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
					</div>
				</article>

			</section>
		</div>
	</div>
</div>
</div>
</div>